@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

*{
   margin: 0% ;
   padding:0% ;
   box-sizing: border-box;
}
.current{
    color: #3d6be9;
}
.bg-red{
    color: red;
}
/* sign up page */
body{
    font-family: 'Roboto', sans-serif;
    overflow: auto;
}
p{
    padding: 5px;
    font-size: 25px;
}
.h-blue{
    color: rgb(8, 8, 90);
}
a{
  text-decoration: none;
  font-size: 20px;
}
.form-wrap{
    padding: 20px 30px;
    background: #ffffff;
    color:black;
    box-shadow: rgb(252, 248, 248) 10px 10px 10%;
    border-radius: 10px;
}
.form-wrap h1,
.form-wrap p{
    
    text-align: center;
}
.form-wrap .form-group {
    
    margin-top: 15px;
}
.form-wrap .form-group label{
    
    display: block;
    color:black;
    font-size: 18px;
}
.form-wrap .form-group input{
width: 100%;
padding: 10px;
border: #ddd 1px solid;
border-radius: 10px;
}
.form-wrap button{
display: block;
padding: 10px;
margin-top: 20px;
background:rgb(8, 8, 90);
color:#fff;
cursor: pointer;
}
.submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: black;
    background: rgb(8, 8, 90);
    cursor: pointer;
}
.submit-btn:hover{
    background: #3d6be9;
}
/*Navbar*/
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 8%;
	padding-right: 8%;
	background-color: rgb(8, 8, 90);
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;


}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #3d6be9;
	transition: .4s;
}

nav ul li a.current{
    color: #3d6be9;
}
nav .menu-btn {
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
  }

 /*Emergency page*/
 .pl-3{
     padding-top: 20px;
 }
.h-red{
    color:red;
}
.btn{
    padding: 10px;
    width:200px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    display: inline-block;
    border: none;
}
.bg-lightblue{
     background: #a2b6df;
}
.bg-grey{
    background: grey;
}
.bg-blue{
    background: rgb(8, 8, 90);
}
#services{
    margin: 20px 0px;
}
#services .heading{
    width: 100%;
    height: 20%;
    font-size: 3rem;
    text-align: center;
    padding: 10px;
}
#services .box{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
}
#services .box-blue{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 80px;
}
#services .box-1{
    width:33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#services .box p{
    text-align: center;
}
#services .box-1 .label{
        display: block;
    }
#services .box-1 input{
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}
#services .box-2{
    width:33.33%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
#services .box-2content{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.inc, .dec{
    border: none;
    width: 35px;
    height: 25px;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
}
.bg-black{
    background: black;
    color: #ffffff;
}
.inc:hover{
    background-color: green;
    color: white;
}
.dec:hover{
    background: red;
    color: #ffffff;
}
.counter_src{
    text-align: center;
    height: 26px;
    width: 26px;
    font-size:20px ;
}
.counter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#services .box-3{
    width:33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#services .box-3 .bg-black{
    background: black;
    margin-bottom: 30px;
    margin-top: 30px;
}
#services .content{
    margin: 10px 0px;
}
#services .content p{
    text-align: center;
}
#services .box-3 .bg-black:hover{
    background:rgb(54, 54, 54) ;
    cursor: pointer;
}
#services .box-3 .bg-blue{
    background: rgb(8, 8, 90);
}
#services .box-3 .bg-blue:hover{
    background: #3d6be9 ;
    cursor: pointer;
}
#order h2 {
    width: 100%;
    height: 20%;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}
#order iframe{
    width: 70%;
    margin-left:15%; 
    border-radius: 10px;
    margin-bottom: 10px;
}
#services img{
    width: 98%;
    height: 100%;
}
.box-h{
    font-size: 30px;
}

/*LOGIN PAGE*/
.h-grey{
    color: grey;
}
#block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #a2b6df;
}
#block .box-1{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #a2b6df;
}
#block .box-2{
    width:50%;
    height: 80vh;
}
#block .box-2 img{
    width: 100%;
    height: 80vh;
}   
#block .box-1 .form-wrap{
    background: #a2b6df;
}
    /*footer*/
    .footer{
        margin-top: 80px;
        background: #3d6be9;
        color: #ffffff;
    }
    .col-4{
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .footer1 h1{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .footer h3{
        font-size: 20px;
    }
    .footer hr{
        width: 90%;
        margin: 0 auto;
    }
    #copyright{
       text-align: center;
        padding: 20px;
        background: rgb(8, 8, 90);
        color: #ffffff;
        font-weight: 500;
    }
    .grid-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,auto));
        grid-gap: 2em;
        padding: 2rem;
    }

    /*Navbar */
    @media screen and (max-width: 1390px){
        /* nav ul{
	display: none;
}

 */
	/* nav ul{
		position: absolute;
		height: 100vh;
		width: 100%;
		left: 0;
		top: 0;
		background: #111;
	} */
	.menu-btn{
		display: block;
	}
	.nav-links{
		position: absolute;
		width: 100%;
		height: 77vh;
		background: rgb(36, 11, 175) ;
		top: 64px;
		right: 0;
		text-align: center;
		z-index: 1;
		transition: all .5s;
		/* margin: ; */
		
		opacity: 0;
	}
	.show-sidebar{
		opacity: 1;
	}
	.nav-links li{
		display: block;
		font-size: 30px;
		margin: 10px;
		margin-top: 60px;

	}
	.nav-links li a:hover{
		background: none;
		color: #f9004d;
	}
}